* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur;
  justify-content: space-between;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.logo {
  width: 100px;
}
.cartIcon {
  display: flex;
  background-color: transparent;
  border: none;
}
.numElement {
  display: flex;
}
.btn {
  background-color: transparent;
  border-color: black;
  color: black;
}
.nav-link {
  color: black;
}
.spinner-grow {
  display: flex;
  justify-content: center;
}
.navItems {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
}
.productos {
  display: flex;
  padding: 3rem 5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur;
}
.items {
  display: flex;
}
.card {
  padding: 10px;
  margin-bottom: 150px;
  max-width: 250px;
  max-height: 250px;
  text-align: center;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur;
}
.itemImg {
  height: 200px;
  object-fit: contain;
  max-width: 80%;
  transition: transform 0.75s;
  border-radius: 1rem;
}
.card:hover .itemImg {
  transform: scale(1.15);
}
.addButtons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.addCart {
  display: flex;
  justify-content: center;
}
.cart {
  display: flex;
  justify-content: center;
}
.emptyCart {
  display: grid;
  justify-content: center;
  align-items: center;
}
.spinner {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loader-wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.loader {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #162534;
  border-top-color: #4bc8eb;
  border-bottom-color: #f13a8f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

.loader-inner {
  border-top-color: #36f372;
  border-bottom-color: #fff;
  animation-duration: 2.5s;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  margin: 50px;
}
.aboutImg {
  border-radius: 1rem;
}
.aboutText {
  background-color: rgba(255, 255, 255, 0.7);
}
