* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: whitesmoke;
}
.App-header {
  background: linear-gradient(rgba(255, 255, 255, 0.932), grey);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 100px;
}
.cartIcon {
  background-color: transparent;
  border: none;
}
.btn {
  background-color: transparent;
  border-color: black;
  color: black;
}
.nav-link {
  color: black;
}
.spinner-grow {
  display: flex;
  justify-content: center;
}
.navItems {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
}
.productos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30;
  max-width: 345;
  align-items: stretch;
}
.items {
  display: flex;
}
.card {
  display: flex;
  align-items: center;
  max-width: 300px;
  background: transparent;
  text-align: center;
  box-shadow: 3px 3px grey;
}
.card-img-top {
  max-width: 250px;
}
.addButtons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.addCart {
  display: flex;
  justify-content: center;
}
