* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-header {
  background: linear-gradient(#7777c2, grey);
}
.logo {
  width: 150px;
}
.navButtons {
  display: flex;
  justify-content: flex-end;
}
.btn {
  background-color: transparent;
  border-color: white;
}
.cart-icon {
  color: white;
}
